<html>
  <head>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Primary Meta Tags -->
    <title>GlitchyPastePen</title>
    <meta name="title" content="GlitchyPastePen" />
    <meta
      name="description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://glitchypastepen.glitch.me/" />
    <meta property="og:title" content="GlitchyPastePen" />
    <meta
      property="og:description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />
    <meta
      property="og:image"
      content="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://glitchypastepen.glitch.me/" />
    <meta property="twitter:title" content="GlitchyPastePen" />
    <meta
      property="twitter:description"
      content="Create simple front-end projects (mainly with HTML, CSS and JS) using an online code editor with instant hosting."
    />
    <meta
      property="twitter:image"
      content="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
    />
    
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="https://cdn.glitch.com/a1686874-cbbf-4ca9-b412-cd53a73b9ceb%2Fglitchypastepen.png?v=1587918769653"
          height="100px"
      /></a>
      <span style="float:right;margin-right:20px;">
        <a
          href="https://github.com/login/oauth/authorize?client_id=b1619bb3723d36119cfa"
          ><button>
            Login
          </button></a
        >
        <a
          href="https://github.com/login/oauth/authorize?client_id=b1619bb3723d36119cfa"
          ><button>
            Signup
          </button></a
        >
      </span>
    </header>
    <div id="blob">
      <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="#8A3FFC"
          d="M45,-38.4C56.9,-33.2,64,-16.6,62.2,-1.8C60.3,12.9,49.5,25.8,37.6,36.6C25.8,47.4,12.9,56,1.8,54.2C-9.3,52.4,-18.5,40.1,-32.7,29.3C-46.8,18.5,-65.9,9.3,-70.7,-4.8C-75.4,-18.8,-65.9,-37.6,-51.7,-42.8C-37.6,-48,-18.8,-39.7,-1.1,-38.6C16.6,-37.5,33.2,-43.6,45,-38.4Z"
          transform="translate(100 100)"
        />
      </svg>
    </div>
    <div id="intro">
      <h1 class="main">
        GlitchyPastePen.
      </h1>
      <p class="desc">
        A web project I created aimed at creating simple websites using HTML,
        CSS and JS along with instant hosting.
      </p>
      <center>
        <img
          src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fscreely-1591191781898.png?v=1591191852875"
          width="100%"
        />
      </center>
    </div>

    <br /><br />

    <!-- lot of line breaks -->
    <br /><br /><br />

    <script src="/public/login.js"></script>
    <footer>
      <div id="wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#000b76"
            fill-opacity="1"
            d="M0,32L20,37.3C40,43,80,53,120,53.3C160,53,200,43,240,48C280,53,320,75,360,80C400,85,440,75,480,58.7C520,43,560,21,600,37.3C640,53,680,107,720,138.7C760,171,800,181,840,170.7C880,160,920,128,960,133.3C1000,139,1040,181,1080,202.7C1120,224,1160,224,1200,240C1240,256,1280,288,1320,288C1360,288,1400,256,1420,240L1440,224L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"
          ></path>
        </svg>
      </div>
      <small>
        &copy; 2020 @khalby786 and @17lwinn (The GlitchyPastePen devs)
      </small>
      <br /><br />
      <a href="/status"
        ><button>
          Site health graphs
        </button></a
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  </body>
</html>
