@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

body {
  --fore: black;
  --back: white;
  background-color: var(--back);
  color: black;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  margin-top: 30px;
  margin: 0px;
}

.main {
  font-size: calc(100vw / 12.8);
  font-weight: 740;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#intro {
  margin-left: 50px;
  margin-right: 50px;
  border: 5px dashed yellow;
  margin-top: 50px;
  border-radius: 5px;
}

a {
  color: black;
}

header {
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DCDCDC;
  left: 0px;
}

#project-name {
  margin-left: 20px;
  margin-top: 0px;
  background-color: #272822;
  border: none;
  color: white;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  height: 35px;
  font-size: 30px;
  resize: none;
  overflow-y: hidden;
  outline: none;
  display: inline-block;
}

.owner {
  margin-left: 20px;
  margin-top: 0px;
  color: white;
}

.p-title {
  margin-bottom: 0px;
  margin-left: 20px;
  display: block;
  color: white;
}

.username {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-top: 20px;
  color: black;
}

.email {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  margin-top: 20px;
  color: black;
}

.password {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  color: black;
}

.submit {
  margin-top: 20px;  
  background-color: var(--background);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  transition: 1s ease;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: yellow;
  color: black;
  transition: 1s ease;
  border: none;
  font-weight: bold;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

#success {
  background-color: green;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
}

#fail {
  background-color: red;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
}

pre {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #1f2430;
}

#deploy {
  border: none;
  background-color: rgba(0,0,0,0);
  display: inline-block;
  float: right;
  cursor: pointer;
}

.deploy {
  background-color: rgba(0,0,0,0);
  display: inline-block;
  float: right;
  cursor: pointer; 
  border: 1px dashed white;
  margin-right: 20px;
  z-index: 4;
}

.signup-link {
  display: block;
}

#status {
  background-color: green;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  border-radius: 3px;
  font-family: "Noto Sans JP", "Inter", "Helvetica", sans-serif;
  color: white;
  display: none;
  font-size: 15px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #1f2430;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 20px;
}

.i {
  color: red;
  font-size: 120%;
}

a {
  text-decoration: none;
  margin-top: 0px;
}

.empty {
  margin-top: 0px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #1f2430;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  background-color: red;
  padding: 0.5em 0.6em;
}

i.fas {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  background-color: purple;
  padding: 0.5em 0.6em;
}

i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

#logout {
  float: right;
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 3px;
}

.desc {
  margin-left: 15%;
  margin-right: 15%;
  font-size: calc(35vw / 12.8);
  font-family: "Fira Mono", "IBM Plex Mono", monospace;
}

#login {
  padding-top: 30px;
  padding-bottom: 30px;
}

button {
  background-color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  transition: 200ms linear;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 10px;
}

button:hover {
  background-color: yellow;
  color: black;
  transition: 200ms linear;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

#option {
  background-color: yellow;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 20px;
  width: fit-content;
  border-radius: 3px;
}

.projectname {
  color: white;
}

#editor-footer {
  background-color: #5500ff;
  width: 100%;
  font-family: 'Inter', sans-serif;
  z-index: 10;
  position: absolute;
  left:  0px;
  right: 0px;
  bottom: 0px;
  color: white;
  height: 26px;
  padding-top: 0px !important;
  position: fixed;
}

#editor-footer p {
  margin: 0px !important;
  margin-top: 0px;
}

.right {
  float: right;
  margin-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.right:hover {
  --hover: #8547ff;
  background-color: var(--hover);
}

.left {
  float: left;
  margin-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.left:hover {
  --hover: #8547ff;
  background-color: var(--hover);
}


.code {
  font-family: "Fira Mono", "IBM Plex Mono", monospace;
}